.App {
  text-align: left;
  margin:0;
  padding:0px;
  height: 100vh;
}

.background{
  background: #333 url(assets/g-salad.jpg) center center no-repeat;
  background-size: cover;
  color: #532827;
  background-position: 50% 50%;
  background-attachment: fixed;
  height: 100%;
  width: 100vw;
  margin:0;
}
